name: Linux Docker CI

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'include/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'linux-tests.Dockerfile'
      - '.github/workflows/linux-docker-ci.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'include/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'linux-tests.Dockerfile'
      - '.github/workflows/linux-docker-ci.yml'

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 6

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
      
    - name: Build Docker image
      run: docker build -t linux-tests -f linux-tests.Dockerfile .
      
    - name: Test with Docker
      run: docker run -e CI=true linux-tests
