name: macOS CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main

jobs:
  build-and-test-macos:
    name: Build and Test on macOS
    runs-on: macos-latest
    timeout-minutes: 6

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        brew install glfw glslang spdlog glm vulkan-tools googletest ffmpeg pkg-config

    - name: Configure
      run: cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -B build

    - name: Build
      run: cmake --build build

    - name: Run tests
      run: build/tests/vsdf_tests && build/tests/filewatcher/filewatcher_tests
