name: Continuous Integration

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Build Docker image
      run: docker build -t linux-tests -f linux-tests.Dockerfile .
      
    - name: Test with Docker
      run: docker run linux-tests

  build-and-test-macos:
    name: Build and Test on macOS
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        brew install glfw glslang spdlog glm vulkan-tools googletest ffmpeg pkg-config

    - name: Configure
      run: cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -B build

    - name: Build
      run: cmake --build build

    - name: Run tests
      run: build/tests/vsdf_tests && build/tests/filewatcher/filewatcher_tests && build/tests/ffmpeg_encoder_tests
